@font-face {
  font-family: "MyriadPro Bold";
  src: url("../fonts/MyriadPro-Bold.woff"); }

@font-face {
  font-family: "MyriadPro conditional";
  src: url("../fonts/MyriadPro-Cond.woff"); }

@font-face {
  font-family: "MyriadPro italic";
  src: url("../fonts/MyriadPro-It.woff"); }

@font-face {
  font-family: "MyriadPro regular";
  src: url("../fonts/MyriadPro-Regular.woff"); }

@font-face {
  font-family: "FreeSetExtraCTT";
  src: url("../fonts/FRS95__C.ttf"); }

@font-face {
  font-family: "FreeSetC";
  src: url("../fonts/FRS45__C.pfm"); }

body {
  margin: 0px; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

.container {
  padding: 0 58px; }

@media (min-width: 320px) and (max-width: 900px) {
  .container {
    padding: 0 20px; } }

.header {
  background-image: url("../img/bg-top.jpg");
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 20px;
  background-position: center 0px;
  background-repeat: no-repeat; }

.header_logo-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 60px; }

.header_title {
  position: relative;
  width: 475px;
  margin: 0 auto;
  margin-top: 287px;
  padding-left: 157px;
  text-transform: uppercase;
  color: #ffffff; }

.header_title::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -23px;
  width: 155px;
  height: 155px;
  background: url("../img/logo-triumf-white.png") center no-repeat;
  background-size: contain; }

.header_title > h1 {
  margin: 0px;
  text-align: center;
  font-family: "FreeSetExtraCTT", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 63px;
  line-height: 57px; }

.header_title > span {
  padding-left: 13px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 66px;
  line-height: 53px; }

.header_desc {
  margin-top: 28px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }

.header_call {
  width: 749px;
  margin: 50px auto;
  margin-bottom: 45px;
  padding: 10px 10px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 37px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-right: 4px solid #e41d2d;
  border-left: 4px solid #e41d2d; }

.header_call-bold {
  font-weight: 900; }

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 20px;
    box-shadow: 768px 800px 0px 0px rgba(0, 0, 0, 0.6) inset; }
  .header_logo-block {
    padding-top: 20px; }
  .header_title {
    width: 300px;
    margin-top: 100px;
    padding-top: 170px;
    padding-left: 0px; }
  .header_title::before {
    left: 50%;
    margin-left: -77px; }
  .header_title > h1,
  .header_title > span {
    font-size: 48px;
    line-height: 50px; }
  .header_title > span {
    padding-left: 32px; }
  .header_desc {
    font-size: 16px;
    line-height: 24px; }
  .header_call {
    width: 280px;
    font-size: 20px; } }

@media (min-width: 768px) and (max-width: 900px) {
  .header_call {
    width: 685px; } }

.logo--fond {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.logo_contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 65px;
  font-family: "MyriadPro Bold", "Helvetica", sans-serif; }

.logo_phone,
.logo_mail,
.logo_site {
  color: #9f9a99; }

.logo_phone {
  margin: 0px;
  padding-bottom: 5px;
  font-size: 16px; }

.logo--biz-triumf-bottom {
  position: relative;
  padding-left: 75px; }
  .logo--biz-triumf-bottom p {
    margin: 5px 0;
    font-family: "MyriadPro regular", "Helvetica", sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    color: #c5c6c6;
    text-transform: uppercase; }

.logo--biz-triumf-bottom::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 3px;
  width: 65px;
  height: 65px;
  background: url("../../img/logo-triumf-grey.png") no-repeat center;
  background-size: contain; }

.logo--biz-triumf-bottom p:nth-child(2) {
  margin: 0 auto;
  font-family: "FreeSetExtraCTT", "Helvetica", sans-serif;
  font-size: 23px; }
  .logo--biz-triumf-bottom p:nth-child(2) span {
    font-family: "MyriadPro regular", "Helvetica", sans-serif;
    font-size: 23px;
    line-height: 23px;
    font-weight: 300; }

.logo--biz-triumf-bottom p:nth-child(3) {
  margin-top: 7px; }

@media (min-width: 320px) and (max-width: 767px) {
  .logo--fond {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-align: center;
        align-items: center; }
    .logo--fond img {
      width: 60px;
      height: 80px; }
  .logo_contacts {
    font-size: 12px;
    margin-top: 7px; }
  .logo--biz-triumf > img {
    width: 150px;
    height: 80px; }
  .logo--biz-triumf-bottom {
    margin: 0 auto;
    margin-bottom: 30px; }
    .logo--biz-triumf-bottom img {
      width: 150px;
      height: 80px; }
  .logo--biz-triumf-bottom::before {
    top: 9px; } }

@media (min-width: 768px) {
  .logo--fond img {
    width: 91px;
    height: 116px;
    margin-right: -4px; }
  .logo_contacts {
    font-size: 13px; }
  .logo--biz-triumf > img {
    width: 230px;
    height: 116px; }
  .logo--biz-triumf-bottom::before {
    top: 9px; } }

.taking-part {
  background-color: #c5c6c6; }

.awards-block_header {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 81px; }

.awards-block_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 800px;
  margin: 0 auto; }

.awards-block_item {
  width: 253px;
  position: relative;
  margin: 0px;
  margin-top: 167px;
  padding: 38px 0px 45px 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 19px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #e41d2d;
  color: #ffffff; }
  .awards-block_item--avowal::before, .awards-block_item--internship::before, .awards-block_item--gift::before {
    content: "";
    position: absolute;
    top: -109px;
    left: 50%;
    margin-left: -38px;
    width: 69px;
    height: 76px;
    background: url("../img/icon-cup.png") center no-repeat;
    background-size: contain; }
  .awards-block_item--internship::before {
    top: -96px;
    left: 50%;
    margin-left: -41px;
    width: 83px;
    height: 63px;
    background: url("../img/icon-hand.png") center no-repeat;
    background-size: contain; }
  .awards-block_item--gift::before {
    width: 66px;
    height: 74px;
    top: -117px;
    margin-left: -32px;
    background: url("../img/icon-prize.png") center no-repeat;
    background-size: contain; }

@media (min-width: 320px) and (max-width: 767px) {
  .awards-block_header {
    padding-top: 60px;
    letter-spacing: 0px; }
  .awards-block_list {
    width: 280px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .awards-block_item {
    margin: 0 auto;
    margin-top: 170px;
    padding: 31px 0; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .awards-block_list {
    width: 700px; }
  .awards-block_item {
    width: 200px; } }

.conditions_header {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 99px;
  padding-left: 20px;
  padding-right: 8px;
  background-color: #c5c6c6;
  position: relative;
  z-index: 1;
  width: 457px;
  margin: 0 auto; }

.conditions-inner {
  margin: 0;
  margin-top: -10px;
  padding-top: 45px;
  padding-bottom: 140px;
  border-top: 3px solid #000000; }

.conditions_item {
  width: 438px;
  margin: 0 auto;
  padding-bottom: 31px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase; }
  .conditions_item span {
    font-family: "MyriadPro regular", "Helvetica", sans-serif;
    font-weight: 200; }

.conditions_item:last-of-type {
  padding-bottom: 0px; }

@media (min-width: 320px) and (max-width: 767px) {
  .conditions_header {
    width: 230px;
    padding-left: 8px;
    font-size: 21px;
    letter-spacing: 0px; }
  .conditions_item {
    width: 260px;
    font-size: 16px; }
  .conditions-inner {
    padding-bottom: 110px; } }

.btn-block {
  position: relative; }

.btn-block_item {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  z-index: 1;
  display: block;
  width: 529px;
  margin: 0 auto;
  margin-top: -59px;
  padding: 40px 0;
  font-weight: 900;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
  background-color: #e41d2d;
  border: none;
  box-shadow: none; }

.btn-block_text {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 25px;
  font-family: "MyriadPro Bold", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 6px; }
  .btn-block_text span {
    text-transform: lowercase; }
  .btn-block_text--grey {
    padding-top: 78px; }

.btn-block--grey {
  position: relative;
  padding-bottom: 49px;
  background-color: #c5c6c6; }

.btn-block_item {
  position: absolute;
  left: 50%;
  margin-left: -264px;
  top: 0px; }

@media (min-width: 320px) and (max-width: 767px) {
  .btn-block_item {
    width: 280px;
    margin-left: -140px;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 25px 0px; }
  .btn-block_text--grey {
    width: 280px;
    margin: 0 auto; }
  .btn-block--grey .btn-block_item {
    top: 12px; } }

@media (min-width: 768px) {
  .btn-block_text {
    padding-top: 68px; } }

.counter-wrap {
  width: 370px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 47px; }

.counter-wrap_text,
.counter-wrap_count {
  width: 50%;
  margin: 0px;
  padding: 19px 0;
  font-family: "MyriadPro Bold", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  background-color: #c5c6c6; }

.counter-wrap_count {
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-weight: 900;
  color: #ffffff;
  background-color: #2e1b16;
  text-transform: lowercase; }

@media (min-width: 320px) and (max-width: 767px) {
  .counter-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 280px;
    -ms-flex-align: center;
        align-items: center; }
  .counter-wrap_text,
  .counter-wrap_count {
    width: 70%; } }

.nominations {
  margin: 0 auto;
  background-color: #2e1b16;
  padding-top: 55px;
  padding-bottom: 160px; }

.nominations_header {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 27px;
  color: #ffffff; }

.nominations_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1084px;
  margin: 0 auto; }

.nominations_item {
  width: 253px;
  margin-top: 21px;
  background-color: #ffffff; }

.nominations_item-head {
  margin-top: 0px;
  margin-bottom: 7px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  text-transform: uppercase; }

.nominations_item-desc {
  padding: 13px 23px;
  padding-bottom: 15px; }

.nomination_item-text {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px; }
  .nomination_item-text span {
    font-weight: 900; }

.nominations_desc {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #ffffff;
  width: 580px;
  margin: 0 auto;
  margin-top: 56px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 8px; }

.nominations_docs {
  width: 255px;
  margin: 0 auto;
  margin-top: 24px;
  position: relative; }
  .nominations_docs a {
    display: block;
    width: 255px;
    margin-left: auto;
    text-align: center;
    padding: 17px 0px;
    font-family: "MyriadPro regular", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #1d0000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #c5c6c6; }
  .nominations_docs a::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -57px;
    width: 42px;
    height: 59px;
    background: url("../img/icon-docs.png") no-repeat center;
    background-size: contain; }

@media (min-width: 320px) and (max-width: 767px) {
  .nominations {
    padding-bottom: 110px; }
  .nominations_list {
    -ms-flex-pack: center;
        justify-content: center; }
  .nominations_desc {
    width: 280px;
    font-size: 16px;
    line-height: 20px; }
  .nominations_docs {
    width: 250px; }
    .nominations_docs a {
      width: 200px; }
    .nominations_docs a::before {
      left: -7px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .nominations {
    padding-bottom: 100px; }
  .nominations_list {
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly; } }

.steps {
  padding-top: 87px;
  padding-bottom: 112px;
  background-color: #c5c6c6; }

.steps_header {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 503px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 8px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  background-color: #c5c6c6; }

.steps_wrap {
  margin-top: -10px;
  border-top: 3px solid #ffffff; }

.steps_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 58px;
  padding-top: 112px; }

.steps_item {
  position: relative;
  width: 150px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  line-height: 27px; }

.steps_item--choose::before,
.steps_item--register::before,
.steps_item--story::before,
.steps_item--speach::before,
.steps_item--ceremony::before {
  content: "";
  position: absolute;
  left: -6px;
  top: -58px;
  width: 67px;
  height: 44px;
  background: url("../img/icon-choose.png") no-repeat center;
  background-size: contain; }

.steps_item--register::before {
  content: "";
  top: -61px;
  left: -3px;
  width: 61px;
  height: 50px;
  background: url("../img/icon-monitor.png") no-repeat center;
  background-size: contain; }

.steps_item--story::before {
  content: "";
  top: -66px;
  left: -3px;
  width: 69px;
  height: 62px;
  background: url("../img/icon-write.png") no-repeat center;
  background-size: contain; }

.steps_item--speach::before {
  content: "";
  top: -70px;
  left: 0px;
  width: 49px;
  height: 69px;
  background: url("../img/icon-speak.png") no-repeat center;
  background-size: contain; }

.steps_item--ceremony::before {
  content: "";
  top: -70px;
  left: 0px;
  width: 47px;
  height: 67px;
  background: url("../img/icon-medal.png") no-repeat center;
  background-size: contain; }

@media (max-width: 415px) {
  .steps_list {
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 320px) and (max-width: 767px) {
  .steps {
    padding-bottom: 110px; }
  .steps_header {
    width: 200px;
    letter-spacing: 0px; }
  .steps_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 35px; }
  .steps_item {
    margin-top: 77px;
    text-align: center; }
  .steps_item--choose::before,
  .steps_item--register::before,
  .steps_item--story::before,
  .steps_item--speach::before,
  .steps_item--ceremony::before {
    left: 50%; }
  .steps_item--choose::before {
    margin-left: -33px; }
  .steps_item--register::before {
    margin-left: -30px; }
  .steps_item--story::before {
    margin-left: -35px; }
  .steps_item--speach::before {
    margin-left: -25px; }
  .steps_item--ceremony::before {
    margin-left: -23px; } }

@media (min-width: 768px) and (max-width: 990px) {
  .steps_list {
    max-width: 750px; }
  .steps_item {
    width: 120px;
    font-size: 16px;
    line-height: 24px; } }

.past-event_text {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 900; }

.past-event {
  padding: 80px 0;
  padding-bottom: 86px;
  background-color: #c5c6c6; }

.past-event_inner {
  width: 256px;
  margin: 0 auto;
  margin-top: 23px;
  position: relative; }
  .past-event_inner a {
    display: block;
    width: 255px;
    margin-left: auto;
    text-align: center;
    padding: 17px 0px;
    font-family: "MyriadPro regular", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #1d0000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff; }
  .past-event_inner a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -82px;
    width: 67px;
    height: 60px;
    background: url("../img/icon-video.png") no-repeat center;
    background-size: contain; }

@media (min-width: 320px) and (max-width: 900px) {
  .past-event_inner {
    width: 280px; }
    .past-event_inner a {
      width: 200px; }
    .past-event_inner a::before {
      left: -7px; }
  .past-event {
    padding: 40px 0; }
  .past-event_text {
    font-size: 20px;
    letter-spacing: 2px; } }

.winners_header {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 53px; }

.winners {
  padding-top: 94px;
  padding-bottom: 51px;
  background-color: #1d0000;
  color: #ffffff; }

.winners_wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px; }

.winners_desc {
  width: 253px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px; }

.winners_name {
  margin: 0px;
  margin-top: -5px;
  padding: 5px 17px;
  padding-right: 0px;
  background-color: #c5c6c6;
  font-family: "MyriadPro Bold", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000; }
  .winners_name span {
    font-family: "MyriadPro italic", "Helvetica", sans-serif; }

@media (min-width: 320px) and (max-width: 767px) {
  .winners {
    padding-top: 40px;
    padding-bottom: 40px; }
  .winners_wrap {
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
  .winners_item {
    margin-bottom: 10px; } }

.controls {
  width: 180px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.controls_thumb {
  width: 8px;
  height: 8px;
  background-color: #c5c6c6;
  border-radius: 50%; }

.controls_thumb:active {
  background-color: #ffffff; }

.sponsor {
  padding-top: 44px;
  padding-bottom: 114px; }

.sponsor_header {
  margin: 0px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 28px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 7px;
  font-weight: 900; }

.organization {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto; }

.organization_item {
  width: 230px;
  text-align: center; }
  .organization_item img,
  .organization_item span {
    display: block;
    margin: 0 auto; }

.organization_item-type {
  padding-bottom: 10px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase; }

.organization_item-desc {
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase; }
  .organization_item-desc span {
    display: inline;
    text-transform: lowercase; }

.organization_item:first-child .organization_item-desc {
  padding-top: 16px; }

.agreement-docs {
  width: 256px;
  margin: 0 auto;
  margin-top: 21px;
  position: relative; }
  .agreement-docs a {
    display: block;
    width: 255px;
    margin-left: auto;
    text-align: center;
    padding: 17px 0px;
    font-family: "MyriadPro regular", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #1d0000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff; }
  .agreement-docs a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: -80px;
    width: 67px;
    height: 60px;
    background: url("../../img/icon-rules.png") no-repeat center;
    background-size: contain; }

@media (min-width: 320px) and (max-width: 767px) {
  .agreement-docs {
    width: 280px; }
    .agreement-docs a {
      width: 200px; }
    .agreement-docs a::before {
      left: -7px; } }

.footer {
  padding-top: 67px;
  background-color: #2e1b16; }

.footer_for-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer_logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 72px;
  padding-bottom: 40px; }
  .footer_logos .logo--fond {
    margin-top: -31px; }

@media (min-width: 320px) and (max-width: 767px) {
  .footer_logos .logo--fond {
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0 auto; }
  .footer_logos {
    padding-top: 40px; }
    .footer_logos .logo_contacts {
      font-size: 16px; } }

@media (min-width: 634px) {
  .footer_logos .logo--fond {
    margin-top: -35px; } }

@media (min-width: 768px) {
  .footer_logos .logo--fond {
    margin-left: auto; }
  .footer_logos .logo_contacts {
    margin-top: 63px; } }

.lider-banner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 525px; }

.lider-banner_text {
  width: 100%;
  height: 143px;
  margin: 0px;
  padding: 30px;
  font-family: "MyriadPro Bold", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: #c5c6c6; }
  .lider-banner_text--spacing {
    letter-spacing: 6px; }
  .lider-banner_text--plain {
    font-family: "MyriadPro regular", "Helvetica", sans-serif; }

@media (min-width: 320px) and (max-width: 900px) {
  .lider-banner {
    width: 280px;
    margin: 0 auto; }
  .lider-banner_text {
    padding: 15px;
    font-size: 12px;
    line-height: 22px; }
    .lider-banner_text--spacing {
      letter-spacing: 1px; } }

@media (min-width: 634px) and (max-width: 900px) {
  .lider-banner {
    margin-left: auto; } }

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -221px;
  width: 400px;
  padding: 40px 25px;
  color: #323232;
  background-color: #f8f7f4;
  z-index: 20; }

.feedback-show {
  display: block;
  animation: bounce 0.6s; }

.feedback_close {
  position: absolute;
  top: 25px;
  right: 16px;
  border: none;
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #f8f7f4; }

.feedback_close::before,
.feedback_close::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 19px;
  height: 2px;
  background-color: #070707;
  border-radius: 1px; }

.feedback_close::before {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.feedback_close::after {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.feedback .field {
  display: block;
  width: 100%;
  margin-bottom: 21px;
  padding: 10px 15px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2; }

.feedback_inner-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 25px;
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 3px;
  background: #e41d2d;
  border: none;
  box-shadow: none; }

.feedback_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.field_checkbox {
  display: none; }

.field_checkbox-label {
  position: relative;
  padding-left: 25px;
  display: block; }

.field_checkbox-label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000; }

.field_checkbox:checked .field_checkbox-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: url("../../img/icon-checkbox.png") no-repeat center;
  background-size: contain; }

.field_checkbox-label a {
  font-family: "MyriadPro regular", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none; }

@media (min-width: 320px) and (max-width: 900px) {
  .feedback {
    width: 320px;
    margin-left: -160px; } }
