.header_logo-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.header_title {
  text-align: center;
  text-transform: uppercase; }

@font-face {
  font-family: "Myriad Pro bold";
  src: url("../fonts/MyriadPro-Bold.woff"); }

@font-face {
  font-family: "Myriad Pro cond";
  src: url("../fonts/MyriadPro-Cond.woff"); }

@font-face {
  font-family: "Myriad Pro italic";
  src: url("../fonts/MyriadPro-It.woff"); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.woff"); }
