.header {
  background-image: url("../img/bg-top.jpg");
  background-size: cover; }

.header_logo-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 60px; }

.header_title {
  margin-top: 300px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

.header_desc {
  text-align: center; }

.container {
  padding: 0 58px; }

.logo--fond {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.logo_contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 56px; }

.logo_phone,
.logo_mail,
.logo_site {
  color: #9f9a99; }

.logo_phone {
  margin: 0px; }

@font-face {
  font-family: "Myriad Pro bold";
  src: url("../fonts/MyriadPro-Bold.woff"); }

@font-face {
  font-family: "Myriad Pro cond";
  src: url("../fonts/MyriadPro-Cond.woff"); }

@font-face {
  font-family: "Myriad Pro italic";
  src: url("../fonts/MyriadPro-It.woff"); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.woff"); }
