@font-face {
  font-family: "MyriadPro Bold";
  src: url("../fonts/MyriadPro-Bold.woff");
}

@font-face {
  font-family: "MyriadPro conditional";
  src: url("../fonts/MyriadPro-Cond.woff");
}

@font-face {
  font-family: "MyriadPro italic";
  src: url("../fonts/MyriadPro-It.woff");
}

@font-face {
  font-family: "MyriadPro regular";
  src: url("../fonts/MyriadPro-Regular.woff");
}

@font-face {
  font-family: "FreeSetExtraCTT";
  src: url("../fonts/FRS95__C.ttf");
}

@font-face {
  font-family: "FreeSetC";
  src: url("../fonts/FRS45__C.pfm");
}

$font-italic: "MyriadPro italic", "Helvetica", sans-serif;

$font-bold: "MyriadPro Bold", "Helvetica", sans-serif;

$font-cond: "MyriadPro conditional", "Helvetica", sans-serif;

$font-plain: "MyriadPro regular", "Helvetica", sans-serif;

$font-header-bold: "FreeSetExtraCTT", "Helvetica", sans-serif;

$font-header-light: "FreeSetC", "Helvetica", sans-serif;
