.awards-block_header {
  @include headers;
  padding-top: 81px;
}

.awards-block_list {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}

.awards-block_item {
  width: 253px;
  position: relative;
  margin: 0px;
  margin-top: 167px;
  padding: 38px 0px 45px 0px;
  font-family: $font-plain;
  font-size: 19px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #e41d2d;
  color: #ffffff;

  &--avowal::before,
  &--internship::before,
  &--gift::before {
    content: "";
    position: absolute;
    top: -109px;
    left: 50%;
    margin-left: -38px;
    width: 69px;
    height: 76px;
    background: url("../img/icon-cup.png") center no-repeat;
    background-size: contain;
  }

  &--internship::before {
    top: -96px;
    left: 50%;
    margin-left: -41px;
    width: 83px;
    height: 63px;
    background: url("../img/icon-hand.png") center no-repeat;
    background-size: contain;
  }

  &--gift::before {
    width: 66px;
    height: 74px;
    top: -117px;
    margin-left: -32px;
    background: url("../img/icon-prize.png") center no-repeat;
    background-size: contain;
  }
}

@media(min-width:$mobile) and (max-width: 767px){
  .awards-block_header {
    padding-top: 60px;
    letter-spacing: 0px;
  }
  .awards-block_list {
    width: 280px;
    flex-wrap: wrap;
  }

  .awards-block_item {
    margin: 0 auto;
    margin-top: 170px;
    padding: 31px 0;
  }
}

@media(min-width:$tablet) and (max-width: 1000px){
  .awards-block_list {
    width: 700px;
  }

  .awards-block_item {
    width: 200px;
  }
}
