.btn-block {
  position: relative;
}

.btn-block_item {
  @include headers;
  position: relative;
  z-index: 1;
  display: block;
  width: 530px;
  margin: 0 auto;
  margin-top: -53px;
  padding: 40px 0;
  font-weight: 900;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
  background-color: #e41d2d;
  border: none;
  box-shadow: none;
}

.btn-block_text {
  @include headers;
  padding-top: 25px;
  font-family: $font-bold;
  font-size: 15px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 6px;

  span {
    text-transform: lowercase;
  }

  &--grey {
    padding-top: 78px;
  }
}

.btn-block--grey {
  position: relative;
  padding-bottom: 49px;
  background-color: #c5c6c6;
}

.btn-block_item {
  position: absolute;
  left: 50%;
  margin-left: -275px;
  top: 0px;
}

@media(min-width:$mobile) and (max-width: 767px) {
  .btn-block_item {
    width: 280px;
    margin-left: -140px;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 25px 0px;
  }

  .btn-block_text--grey {
    width: 280px;
    margin: 0 auto;
  }

  .btn-block--grey .btn-block_item {
    top:12px;
  }
}

@media(min-width: $tablet) {
  .btn-block_text {
    padding-top: 65px;
  }
}
