.counter-wrap {
  width: 370px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 47px;
}

.counter-wrap_text,
.counter-wrap_count {
  width: 50%;
  margin: 0px;
  padding: 19px 0;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  background-color: #c5c6c6;
}

.counter-wrap_count {
  padding: 21px 0;
  padding-bottom: 17px;
  font-family: $font-plain;
  font-weight: 900;
  color: #ffffff;
  background-color: #2e1b16;
  text-transform: lowercase;
  span {
    font-size: 15px;
  }
}

@media(min-width:$mobile) and (max-width:767px){
  .counter-wrap {
    flex-direction: column;
    width: 280px;
    align-items: center;
  }
  .counter-wrap_text,
  .counter-wrap_count {
    width: 70%;
  }
}
