.footer {
  padding-top: 67px;
  background-color: #2e1b16;
}

.footer_for-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 57px;
  padding-bottom: 40px;

  .logo--fond {
    margin-top: -31px;
  }
}

@media(min-width: $mobile) and (max-width: 767px){
  .footer_logos .logo--fond {
    flex-direction: row;
    margin: 0 auto;
  }
  .footer_logos {
    padding-top: 40px;

    .logo_contacts {
      font-size: 16px;
    }
  }
  
  .vk-vidget img {
    width: 280px;
    height: 82px;
    margin-bottom: 25px;
  }
}

@media(min-width:634px) {
  .footer_logos .logo--fond {
    margin-top: -35px;
  }
}

@media(min-width: $tablet) {
  .footer_logos .logo--fond {
    margin-left: auto;
  }
  .footer_logos .logo_contacts {
    margin-top: 63px;
  }
}
