.form--background {
  background-color: rgb(240, 240, 240);
}

.form-head-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #2e1b16;
}

.form-header {
  @include headers;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.reg,
.reg-ext{
  padding-bottom: 45px;
  input,
  select,
  button {
    display: block;
    margin: 0 auto;
  }
  select {
    width: 280px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-family: $font-plain;
    box-shadow: 0px 0px 3px #ccc, 0 7px 13px #eee inset;
    background-color: #fff;
    border: 1px solid #2e1b16;;
  }
  button {
    width: 280px;
    margin-top: 40px;
    padding: 13px 15px;
    background-color: #e41d2d;
    font-family: $font-plain;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
  }
  button:hover {
    background-color: #cd1a28;
  }
  button:active {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3) inset;
  }
}

.reg label,
.reg-ext label,
.reg_sex-desc{
  display: block;
  text-align: center;
  font-family: $font-plain;
  font-size: 16px;
  line-height: 24px;
}

.reg input,
.reg-ext input {
  width: 280px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-family: $font-plain;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px #ccc, 0 7px 13px #eee inset;
}

.reg_sex-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  .reg_sex-desc {
    width: 280px;
  }
  label {
    display: inline;
    margin-bottom: 20px;
    position: relative;
  }
  label:nth-of-type(2) {
    margin-right: 32px;
  }
  input {
    display: none;
  }
  input[type="radio"] + label:before{
    content: "";
    position: absolute;
    top: 4px;
    right: -26px;
    width: 14px;
    height: 14px;
    border: 1px solid #2e1b16;;
  }
  input[type="radio"]:checked + label:after{
    content: "";
    position: absolute;
    top: 6px;
    right: -24px;
    width: 10px;
    height: 10px;
    background-color: #2e1b16;
  }
}

.form{
  .footer {
    padding-top: 0px;
  }
}

@media(max-width: 700px) {
  .form-header {
    width: 301px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media(max-width:608px) {
  .form-head-block {
    flex-wrap: wrap;
    padding-bottom: 10px;
    .logo--biz-triumf {
      order: 1;
    }
    .logo--fond {
      order: 2;
      flex-direction: row;
    }
    .form-header {
      order: 3;
      padding-top: 20px;
    }
  }
}

@media(max-width: 400px) {
    .form-head-block {
    flex-wrap: wrap;
    padding-bottom: 10px;
    .logo--fond {
      order: 2;
      flex-direction: column-reverse;
    }
  }
}
