.header {
  background-image: url("../img/bg-top.jpg");
  background-size: cover;
  padding-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.header_logo-block {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.header_title {
  position: relative;
  width: 475px;
  margin: 0 auto;
  margin-top: 255px;
  padding-left: 157px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 155px;
  height: 155px;
  background: url("../img/logo-triumf-white.png") center no-repeat;
  background-size: contain;
}

.header_title > h1 {
  margin: 0px;
  text-align: center;
  font-family: $font-header-bold;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.header_title > span {
  padding-left: 25px;
  font-family: $font-plain;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
}

.header_desc {
  margin-top: 35px;
  font-family: $font-plain;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.header_call {
  width: 638px;
  margin: 50px auto;
  padding: 10px 20px;
  font-family: $font-plain;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-right: 4px solid #e41d2d;
  border-left: 4px solid #e41d2d;
}

.header_call-bold {
  font-weight: 900;
}
