.lider-banner {
  display: flex;
  justify-content: center;
  width: 525px;
}

.lider-banner_text {
  width: 100%;
  height: 143px;
  margin: 0px;
  padding: 35px;
  font-family: $font-bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #c5c6c6;

  &--spacing {
    letter-spacing: 7px;
  }

  &--plain {
    font-family: $font-plain;
  }
}

@media(min-width:$mobile) and (max-width: 900px){
  .lider-banner {
    width: 280px;
    margin: 0 auto;
  }

  .lider-banner_text {
    padding: 15px;
    font-size: 12px;
    line-height: 22px;
    &--spacing {
      letter-spacing: 1px;
    }
  }
}

@media(min-width: 634px) and (max-width: 900px) {
  .lider-banner {
    margin-left: auto;
  }
}
