.logo {
  &--fond {
    display: flex;
    justify-content: space-around;
  }
}

.logo_contacts {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  font-family: $font-bold;
}

.logo_phone,
.logo_mail,
.logo_site {
  color: #9f9a99;
}

.logo_phone {
  margin: 0px;
  padding-bottom: 5px;
  font-size: 16px;
}

.logo--biz-triumf-bottom {
  margin-top: 23px;
}

.logo--biz-triumf-bottom p:nth-child(2) {
  margin: 0 auto;
  font-family: $font-header-bold;
  font-size: 23px;
  span {
    font-family: $font-plain;
    font-size: 23px;
    line-height: 23px;
    font-weight: 300;
  }
}

.logo--biz-triumf-bottom p:nth-child(3) {
  margin-top: 7px;
}

@media(min-width: $mobile) and (max-width: 767px){
  .logo--fond {
    flex-direction: column-reverse;
    align-items: center;
    img {
      width: 60px;
      height: 80px;
    }
  }
  
  .logo_contacts {
    font-size: 12px;
    margin-top: 7px;
  }

  .logo--biz-triumf > img{
    width: 150px;
    height: 80px;
  }

  .logo--biz-triumf-bottom {
    margin: 0 auto;
    margin-bottom: 30px;
    img {
      width: 280px;
      height: 50px;
    }
  }
  .logo--biz-triumf-bottom::before {
    top: 9px;
  }
}

@media(min-width: $tablet) {
  .logo--fond img {
    width: 91px;
    height: 116px;
    margin-right: -14px;
  }

  .logo_contacts {
    font-size: 13px;
  }

   .logo--biz-triumf > img{
    width: 230px;
    height: 116px;
  }
  
  .logo--biz-triumf-bottom::before {
    top: 9px;
  }
}
