.logo {
  &--fond {
    display: flex;
    justify-content: space-around;
  }
}

.logo_contacts {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  font-family: $font-bold;
}

.logo_phone,
.logo_mail,
.logo_site {
  color: #9f9a99;
}

.logo_phone {
  margin: 0px;
}
