.nominations {
  margin: 0 auto;
  background-color: #2e1b16;
  padding-top: 55px;
  padding-bottom: 160px;
}

.nominations_header {
  @include headers;
  margin-left: 20px;
  color: #ffffff;
}

.nominations_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1084px;
  margin: 0 auto;
}

.nominations_item {
  width: 253px;
  margin-top: 21px;
  background-color: #ffffff;
}

.nominations_item-head {
  margin-top: 0px;
  margin-bottom: 7px;
  font-family: $font-plain;
  text-transform: uppercase;
}

.nominations_item-desc {
  padding: 13px 23px;
  padding-bottom: 15px;
}

.nomination_item-text {
  margin: 0px;
  font-family: $font-plain;
  font-size: 14px;
  line-height: 16px;

  span {
    font-weight: 900;
  }
}

.nominations_desc {
  @include headers;
  color: #ffffff;
  width: 580px;
  margin: 0 auto;
  margin-top: 57px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 8px;
}

.nominations_docs {
  width: 255px;
  margin: 0 auto;
  margin-top: 24px;
  position: relative;
  a {
    display: block;
    width: 255px;
    margin-left: auto;
    text-align: center;
    padding: 17px 0px;
    font-family: $font-plain;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #1d0000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #c5c6c6;
  }

  a::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -57px;
    width: 42px;
    height: 59px;
    background: url("../img/icon-docs.png") no-repeat
      center;
    background-size: contain;
  }
}

@media(min-width: $mobile) and (max-width: 767px) {
  .nominations {
    padding-bottom: 110px;
  }

  .nominations_list {
    justify-content: center;
  }

  .nominations_desc {
    width: 280px;
    font-size: 16px;
    line-height: 20px;
  }

  .nominations_docs {
    width: 250px;
    a {
      width: 200px;
    }
    
    a::before {
      left: -7px;
    }
  }
}

@media(min-width:$tablet)  and (max-width: 1024px) {
  .nominations {
    padding-bottom: 100px;
  }

  .nominations_list {
    justify-content:  space-evenly;
  }
}
