.past-event_text {
  @include headers;
  font-weight: 900;
}

.past-event {
  padding: 80px 0;
  padding-bottom: 86px;
  background-color: #c5c6c6;
}

.past-event_inner {
  width: 256px;
  margin: 0 auto;
  margin-top: 23px;
  position: relative;
  a {
    display: block;
    width: 255px;
    margin-left: auto;
    text-align: center;
    padding: 17px 0px;
    font-family: $font-plain;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #1d0000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
  }

  a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -82px;
    width: 67px;
    height: 60px;
    background: url("../img/icon-video.png") no-repeat
      center;
    background-size: contain;
  }
}

.past-event_video {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -436px;
  margin-top: -240px;
  z-index: 20;
}

.past-event_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.past-event_video--show {
  display: block;
}

@media(min-width: $mobile) and (max-width: 900px){
  .past-event_inner {
    width: 280px;
    a {
      width: 200px;
    }
    a::before {
      left: -7px;
    }
  }

  .past-event {
    padding: 40px 0;
  }

  .past-event_text {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
