.steps {
  padding-top: 87px;
  padding-bottom: 112px;
  background-color: #c5c6c6;
}

.steps_header {
  @include headers;
  width: 503px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 8px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  background-color: #c5c6c6;
}

.steps_wrap {
  margin-top: -10px;
  border-top: 3px solid #ffffff;
}

.steps_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 58px;
  padding-top: 112px;
}

.steps_item {
  position: relative;
  width: 150px;
  font-family: $font-plain;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  line-height: 27px;
}

.steps_item--choose::before,
.steps_item--register::before,
.steps_item--story::before,
.steps_item--speach::before,
.steps_item--ceremony::before {
  content: "";
  position: absolute;
  left: -6px;
  top: -58px;
  width: 67px;
  height: 44px;
  background: url("../img/icon-choose.png") no-repeat center;
  background-size: contain;
}

.steps_item--register::before {
  content: "";
  top: -61px;
  left: -3px;
  width: 61px;
  height: 50px;
  background: url("../img/icon-monitor.png") no-repeat center;
  background-size: contain;
}

.steps_item--story::before {
  content: "";
  top: -66px;
  left: -3px;
  width: 69px;
  height: 62px;
  background: url("../img/icon-write.png") no-repeat center;
  background-size: contain;
}

.steps_item--speach::before {
  content: "";
  top: -70px;
  left: 0px;
  width: 49px;
  height: 69px;
  background: url("../img/icon-speak.png") no-repeat center;
  background-size: contain;
}

.steps_item--ceremony::before {
  content: "";
  top: -70px;
  left: 0px;
  width: 47px;
  height: 67px;
  background: url("../img/icon-medal.png") no-repeat center;
  background-size: contain;
}

@media(max-width: 415px) {
  .steps_list {
    justify-content: center;
  }
}

@media(min-width: $mobile) and (max-width: 767px){
  .steps {
    padding-bottom: 110px;
  }

  .steps_header {
    width: 200px;
    letter-spacing: 0px;
  }

  .steps_list {
    flex-wrap: wrap;
    padding-top: 35px;
  }

  .steps_item {
    margin-top: 77px;
    text-align: center;
  }

  .steps_item--choose::before,
  .steps_item--register::before,
  .steps_item--story::before,
  .steps_item--speach::before,
  .steps_item--ceremony::before {
    left: 50%;
  }

  .steps_item--choose::before {
    margin-left: -33px;
  }

  .steps_item--register::before {
    margin-left: -30px;
  }

  .steps_item--story::before {
    margin-left: -35px;
  }

  .steps_item--speach::before {
    margin-left: -25px;
  }

  .steps_item--ceremony::before {
    margin-left: -23px;
  }
}

@media(min-width: $tablet) and (max-width: 990px) {
  .steps_list {
    max-width: 750px;
  }
  
  .steps_item {
    width:120px;
    font-size: 16px;
    line-height: 24px;
  }
}
