.winners_header {
  @include headers;
  padding-bottom: 53px;
}

.winners {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1d0000;
  color: #ffffff;
}

.winners_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.winners_desc {
  width: 253px;
  font-family: $font-plain;
  font-size: 11px;
  line-height: 14px;
}

.winners_name {
  margin: 0px;
  margin-top: -5px;
  padding: 5px 17px;
  background-color: #c5c6c6;
  font-family: $font-bold;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  span {
    font-family: $font-italic;
  }
}

@media(min-width: $mobile) {
  .winners {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .winners_wrap {
    justify-content: center;
  }

  .winners_item {
    margin-bottom: 10px;
  }
}
